<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table">
    <!-- Subject Name Column -->
    <ng-container matColumnDef="subjectName">
      <th mat-header-cell *matHeaderCellDef>Subject Name</th>
      <td mat-cell *matCellDef="let element">{{ element.subjectName }}</td>
    </ng-container>

    <!-- Subject Chance Column -->
    <ng-container matColumnDef="subjectChance">
      <th mat-header-cell *matHeaderCellDef>Subject Chance</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="progress-bar-container"
          matTooltip="{{ element.subjectChance.toFixed(2) }}%"
          matTooltipPosition="after"
        >
          <div
            class="progress-bar-filled"
            [@animateProgressBar]="{
              value: element.subjectChance,
              params: { progress: getProgressValue(element.subjectChance) },
            }"
            [style.width.%]="element.subjectChance"
          ></div>
        </div>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="pageData.totalElements"
    [pageSize]="pageData.size"
    [pageIndex]="pageData.number"
    (page)="onPageChange($event)"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
