<div class="registration-form col-12 col-md-10 col-lg-8 col-xl-6  col-xxl-6">
  <mat-card class="d-flex registration-form-wrapper">
    <div class="p-3 hero-wrapper d-flex col-12 col-md-6">
      <img src="assets/images/register_illustration.png" alt="" class="img-fluid w-75 align-self-center">
      <h3 class="text-center error-snackbar">Registrácia</h3>
      <p id="heroText" class="text-justify m-0">Praesent urna purus, imperdiet et neque quis, elementum viverra magna. Morbi sodales feugiat eros sed bibendum.
        Pellentesque scelerisque tortor quis tellus mollis, at malesuada arcu porta. Aenean eu lorem ut risus lacinia
        facilisis eu quis lectus. Curabitur ullamcorper rutrum cursus. Morbi eu nunc scelerisque, bibendum purus id,
        mattis tortor. Sed ultrices faucibus hendrerit. Maecenas ac nunc imperdiet, vehicula nunc ac, maximus arcu.
        Suspendisse bibendum pretium diam, rutrum sollicitudin mauris pharetra et. Nam feugiat augue nec neque sodales,
        a tristique nibh venenatis. Etiam vel lorem ante. Mauris quis odio tortor. Integer et magna diam.</p>
    </div>

    <div class="vr my-4 divider"></div>


    <div class="container-fluid p-3 form-wrapper d-flex col-12 col-md-6 m-0">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="d-flex flex-column row-gap-2 w-100">
        <div *ngIf="isError" class="alert alert-danger alert-dismissible fade show" role="alert">
          {{errorText}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideError()"></button>
        </div>
        <mat-form-field  appearance="outline">
          <mat-label>Meno</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="registerForm.controls['name'].invalid">
            Neplatné meno.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Priezvisko</mat-label>
          <input matInput formControlName="surname" required>
          <mat-error *ngIf="registerForm.controls['surname'].invalid">
            Neplatné priezvisko.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required type="email">
          <mat-error *ngIf="registerForm.controls['email'].invalid">
            Neplatná emailová adresa.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Heslo</mat-label>
          <input matInput formControlName="password" type="password" required
                 pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{8,}$">
          <mat-error *ngIf="registerForm.controls['password'].invalid">
            Heslo musí mať aspoň 9 znakov.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Potvrď heslo</mat-label>
          <input matInput formControlName="confirmPassword" type="password" required>
          <mat-error *ngIf="registerForm.controls['confirmPassword'].invalid">
            Heslá sa nezhodujú.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rola</mat-label>
          <mat-select formControlName="roleId" required>
            <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-stroked-button color="primary" type="submit">Registrovať</button>

      </form>
    </div>
  </mat-card>
</div>
