<h2 mat-dialog-title>
  Zmena hesla pre {{ data.user.firstName }} {{ data.user.lastName }}
</h2>
<form [formGroup]="passwordForm" (ngSubmit)="submit()" class="p-3">
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Staré heslo</mat-label>
      <input matInput type="password" formControlName="oldPassword" required />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nové heslo</mat-label>
      <input matInput type="password" formControlName="newPassword" required />
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Potvrdenie nového hesla</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        required
      />
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button type="button" (click)="close()">Zrušiť</button>
    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="passwordForm.invalid"
    >
      Zmeniť heslo
    </button>
  </div>
</form>
