<mat-card>
  <mat-card-header>
    <mat-card-title>
      Predikcia predmetov, ktoré by pre teba mohli byť zaujímavé
    </mat-card-title>

    <mat-card-subtitle>
      Zobrazené predmety zodpovedajú tvojím oblastiam záujmov, ktoré si zadal vo
      vstupnom dotazníku.
    </mat-card-subtitle>
  </mat-card-header>

  <app-subjects-table
    [dataSource$]="dataSource$"
    [pageData]="pageData"
    [isLoading]="isLoading"
    (subjectDetailNavigate)="navigateToSubjectDetail($event)"
    [displayFullInfo]="true"
    [isPageable]="true"
  >
  </app-subjects-table>
</mat-card>
