<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Predikcia predmetov, ktoré by pre teba mohli byť zaujímavé </mat-card-title>

      <mat-card-subtitle>
        Zobrazené predmety zodpovedajú tvojím oblastiam záujmov, ktoré si zadal vo vstupnom
        dotazníku.
      </mat-card-subtitle>
    </mat-card-header>

    <app-generic-table
      [data]="subjectsData()"
      [config]="tableConfig"
      [loading]="isLoading()"
      (rowClick)="onRowClick($event)"
      (pageChange)="onPageChange($event)"
    >
    </app-generic-table>
  </mat-card>
</div>
