<ng-container>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title mb-0">Dotazník študenta</h2>
    </div>
    <div class="card-body">
      <ng-container *ngIf="!hasUserFilledForm; else content">
        <div class="alert alert-primary" role="alert">
          Ešte nemáš vyplnený dotazník! Povedz nám niečo o sebe, aby sme ti
          mohli zobraziť relevantnejšie dáta.
        </div>
        <div class="d-flex justify-content-center">
          <img
            ngSrc="assets/images/brain_q.png"
            priority
            alt="Brain"
            class="img-fluid middle"
            height="400"
            width="400"
          />
        </div>
        <div class="d-flex justify-content-end">
          <button
            mat-raised-button
            color="primary"
            (click)="redirectToUserForm()"
          >
            Vyplnit dotaznik
          </button>
        </div>
      </ng-container>

      <ng-template #content>
        <app-user-form-results [existingAnswers]="formData" />
      </ng-template>
    </div>
  </div>
</ng-container>
