/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  position: absolute;
  top: 10%
}

.info-wrapper {
  background-color: rgba(229, 229, 247, 0.1); /* 0.5 is the opacity (50%) */
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, rgba(229, 229, 247, 0.5) 10px ), repeating-linear-gradient( rgba(126, 129, 194, 0.5), rgba(126, 129, 194, 0.5) );
}

#main-container {
  display: flex;
  flex-direction: column;
  // 100 % - header height
  min-height: calc(100vh - 64px);
}

#main-main {
  flex-grow: 1;
  display: flex;
}


