<mat-tab-group (selectedTabChange)="onTabChange($event)">

  <!-- Heatmap Correlation Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">bar_chart</mat-icon>
      Heatmap korelácie
    </ng-template>
    @if (this.heatmapDataLoaded$ | async) {
      <div style="width: 100%" id="chart">
        <h1>Korelácia medzi známkami jednotlivých predmetov</h1>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [title]="chartOptions.title"
          [colors]="chartOptions.colors"
          [xaxis]="chartOptions.xAxis"
          [plotOptions]="chartOptions.plotOptions"
          [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </mat-tab>

  <!-- High Correlation Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">arrow_upward</mat-icon>
      Vysoko korelované predmety
    </ng-template>
    @if (this.highCorrelationData$ | async) {
      <div class="scrollable-container container">
        @for (correlation of highCorrelationData$ | async; track $index) {
          <div class="m-3 w-auto">
            <app-subject-grade-correlation-detail
              [correlationData]="correlation"></app-subject-grade-correlation-detail>
          </div>
        }
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </mat-tab>

  <!-- Low Correlation Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">arrow_downward</mat-icon>
      Nízko korelované predmety
    </ng-template>
    @if (this.lowCorrelationData$ | async) {
      <div class="scrollable-container container">
        @for (correlation of lowCorrelationData$ | async; track $index) {
          <div class="m-3">
            <app-subject-grade-correlation-detail
              [correlationData]="correlation"></app-subject-grade-correlation-detail>
          </div>
        }
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </mat-tab>

  <!-- No Correlation Tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">remove</mat-icon>
      Nekorelujúce predmety
    </ng-template>
    @if (this.noCorrelationData$ | async) {
      <div class="scrollable-container container">
        @for (correlation of noCorrelationData$ | async; track $index) {
          <div class="m-3">
            <app-subject-grade-correlation-detail
              [correlationData]="correlation"></app-subject-grade-correlation-detail>
          </div>
        }
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </mat-tab>

</mat-tab-group>
