<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="subjectData" >
        {{ subjectData.name }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Chart Section -->
      <div class="row d-flex justify-content-center align-items-center">
        <!-- Radar Chart Container -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <canvas #chart id="chart" class="p-lg-3"></canvas>
        </div>

        <!-- Bar Chart Container -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <canvas #barChart id="barChart" class="p-lg-3"></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

