#chart,
#barChart {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-top: 10px;
}

.container {
  margin-top: 20px;
}

.row {
  margin-top: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}
