.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-404 {
  height: 80vh;
  background-image: url('../../assets/images/404.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
