<mat-card *ngIf="this.correlationData" class="correlation-card">
  <mat-card-header>
    <mat-card-title>
      <a class="text-decoration-none" href="javascript:void(0)"
         (click)="navigateToSubjectDetail(correlationData.firstSubject.code)">
        {{ this.correlationData.firstSubject.name }}
      </a>
      <span *ngIf="this.correlationData.firstSubject.abbreviation">({{ this.correlationData.firstSubject.abbreviation }}
        )</span>
      -
      <a class="text-decoration-none" href="javascript:void(0)"
         (click)="navigateToSubjectDetail(correlationData.secondSubject.code)">
        {{ this.correlationData.secondSubject.name }}
      </a>
      <span
        *ngIf="this.correlationData.secondSubject.abbreviation">({{ this.correlationData.secondSubject.abbreviation }}
        )</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="correlation-value">
      <strong>Korelácia: </strong>
      <span>
        {{ this.correlationData.correlation | number:'1.0-2' }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
