<ng-container>
  <div class="row m-0">
    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Wordcloud slov</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div id="wordcloud-chart" style="width: 100%; height: 400px"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Najpopulárnejšie oblasti predmetov</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <canvas style="max-height: 500px" id="pieChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- New Card for Bar Chart -->
    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Počet študentov podľa roku</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <canvas style="max-height: 500px" id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="card col-12 col-md-6 p-0">
      <div class="card-header">
        <h2 class="card-title mb-0">Najhorsi studentu</h2>
      </div>
      <div class="card-body">
        <app-student-marks-report></app-student-marks-report>
      </div>
    </div>
  </div>
</ng-container>
