<form [formGroup]="formGroup">
  <ng-template matStepLabel>{{ section.sectionTitle }}</ng-template>
  <div class="row">
    <p>{{ section.sectionDescription }}</p>
    <ng-container *ngIf="!isLoading(); else loading">
      <app-form-question
        class="col-12 col-md-6 col-lg-4 pe-0"
        *ngFor="let question of questions()"
        [question]="question"
        [formGroup]="formGroup"
      ></app-form-question>
    </ng-container>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div>
    <button mat-button matStepperPrevious>Späť</button>
    <button mat-button matStepperNext>Pokračovať</button>
  </div>
</form>
