<div>
  <form [formGroup]="filterForm" (ngSubmit)="studyProgramChanged()">
    <mat-form-field appearance="fill">
      <mat-label>Študijný program</mat-label>
      <mat-select formControlName="subjectForm" [(value)]="selectedStudyProgramId" (selectionChange)="studyProgramChanged()">
        <mat-option *ngFor="let program of studyPrograms$ | async" [value]="program.id">
          {{ program.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<app-subjects-table
  [dataSource$]="dataSource$"
  [pageData]="pageData"
  [isLoading]="isLoading"
  (pageChange)="onPageChange($event)"
  (subjectDetailNavigate)="navigateToSubjectDetail($event)">
</app-subjects-table>
