<div>
  @switch (questionComputed().answerType) {
    @case (QuestionTypes.TEXT) {
      <div>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>{{ questionComputed().questionTitle }}</mat-label>
          <input matInput [formControl]="control()" [required]="!questionComputed().optional" />
          @if (control().hasError('required') && control().invalid && control().touched) {
            <mat-error> {{ questionComputed().questionTitle }} is required </mat-error>
          }
        </mat-form-field>
      </div>
    }
    @case (QuestionTypes.NUMERIC) {
      <div>
        <p>
          {{ questionComputed().questionTitle }}:
          {{ formGroup.get(questionComputed().questionIdentifier)?.value }}
        </p>
        <mat-slider min="0" max="10" step="1" style="width: 100%">
          <input
            matSliderThumb
            [formControl]="control()"
            [required]="!questionComputed().optional"
          />
        </mat-slider>
        @if (control().hasError('required') && control().invalid && control().touched) {
          <mat-error> {{ questionComputed().questionTitle }} is required </mat-error>
        }
      </div>
    }
    @case (QuestionTypes.RADIO) {
      <div>
        <p>{{ questionComputed().questionTitle }}</p>
        <mat-radio-group [formControl]="control()" [required]="!questionComputed().optional">
          @for (option of questionComputed().options; track option) {
            <mat-radio-button [value]="option.questionOption">
              {{ option.questionOption }}
            </mat-radio-button>
          }
        </mat-radio-group>
        @if (control().hasError('required') && control().invalid && control().touched) {
          <mat-error> {{ questionComputed().questionTitle }} is required </mat-error>
        }
      </div>
    }
    @case (QuestionTypes.CHECKBOX) {
      <div>
        <h3>{{ questionComputed().questionTitle }}</h3>
        <mat-list>
          @for (option of questionComputed().options; track option; let optionIndex = $index) {
            <mat-list-item>
              <mat-checkbox [formControl]="checkboxControls()[optionIndex]">
                {{ option.questionOption }}
              </mat-checkbox>
              <!-- Error message for each checkbox -->
              @if (
                checkboxControls()[optionIndex].hasError('required') &&
                checkboxControls()[optionIndex]?.invalid &&
                checkboxControls()[optionIndex]?.touched
              ) {
                <mat-error> {{ option.questionOption }} is required </mat-error>
              }
            </mat-list-item>
          }
        </mat-list>
      </div>
    }
    @case (QuestionTypes.DROPDOWN) {
      <div>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>{{ questionComputed().questionTitle }}</mat-label>
          <mat-select [formControl]="control()" [required]="!questionComputed().optional">
            @for (option of questionComputed().options; track option) {
              <mat-option [value]="option.questionValue">
                {{ option.questionOption }}
              </mat-option>
            }
          </mat-select>
          @if (control().hasError('required') && control().invalid && control().touched) {
            <mat-error> {{ questionComputed().questionTitle }} is required </mat-error>
          }
        </mat-form-field>
      </div>
    }
    @case (QuestionTypes.GRADE) {
      <div>
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>{{ questionComputed().questionTitle }}</mat-label>
          <mat-select [formControl]="control()" [required]="!questionComputed().optional">
            @for (option of GradeFormUtil.GRADES; track option) {
              <mat-option [value]="option">
                {{ option }}
              </mat-option>
            }
          </mat-select>
          @if (control().hasError('required') && control().invalid && control().touched) {
            <mat-error> {{ questionComputed().questionTitle }} is required </mat-error>
          }
        </mat-form-field>
      </div>
    }
  }
</div>
