<mat-horizontal-stepper>
  <mat-step *ngFor="let section of form?.sections; let i = index" [stepControl]="formGroups[i]">
    <form [formGroup]="formGroups[i]">
      <ng-template matStepLabel>{{ section.sectionTitle }}</ng-template>
      <div *ngFor="let question of section.questions">
        <div [ngSwitch]="question.answerType">
          <div *ngSwitchCase="'TEXT'">
            <mat-form-field appearance="fill">
              <mat-label>{{ question.questionTitle }}</mat-label>
              <input matInput [formControlName]="question.questionIdentifier" [required]="!question.optional">
            </mat-form-field>
          </div>
          <div *ngSwitchCase="'NUMERIC'">
            <mat-slider [formControlName]="question.questionIdentifier" min="0" max="10" step="1" [required]="!question.optional"></mat-slider>
          </div>
          <div *ngSwitchCase="'RADIO'">
            <label>{{ question.questionTitle }}</label>
            <mat-radio-group [formControlName]="question.questionIdentifier" [required]="!question.optional">
              <mat-radio-button *ngFor="let option of question.options" [value]="option.questionOption">{{ option.questionOption }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngSwitchCase="'CHECKBOX'">
            <h3>{{ question.questionTitle }}</h3>
            <mat-list>
              <mat-list-item *ngFor="let option of question.options; let optionIndex = index">
                <mat-checkbox [formControlName]="question.questionIdentifier + optionIndex.toString()">
                  {{ option.questionOption }}
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious *ngIf="i > 0">Back</button>
        <button mat-button matStepperNext *ngIf="i < form.sections.length - 1">Next</button>
        <button mat-button type="submit" (click)="onSubmit()" *ngIf="i === form.sections.length - 1">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
