<form [formGroup]="formGroup">
  <mat-vertical-stepper linear>
    <mat-step [stepControl]="step1">
      <form [formGroup]="step1">
        <div class="d-flex column-gap-3 row-gap-0 row my-2">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <ng-template matStepLabel>Základné informácie</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Fakulta</mat-label>
              <input matInput formControlName="fakulta" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Odbor</mat-label>
              <input matInput formControlName="odbor" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Ročník</mat-label>
              <input matInput formControlName="rocnik" required>
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Meno</mat-label>
              <input matInput formControlName="meno">
            </mat-form-field>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <mat-form-field appearance="outline">
              <mat-label>Priezvisko</mat-label>
              <input matInput formControlName="priezvisko">
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success" matStepperNext>Ďalej</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="step2">
      <form [formGroup]="step2" class="my-2">
        <ng-template matStepLabel>Hodnotenie predmetov</ng-template>
        <div *ngFor="let grade of subjects; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>{{ subjects[i] }}</mat-label>
            <input matInput [formControlName]="subjects[i]" required>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger" matStepperPrevious>Späť</button>
          <button class="btn btn-success" matStepperNext>Ďalej</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="step3">
      <form [formGroup]="step3">
        <ng-template matStepLabel>Oblasti záujmu</ng-template>
        <div class="row">
          <div *ngFor="let interest of step3.controls | keyvalue" class="col12 col-md-6 row-gap-md-4 column-gap-md-2">
            <mat-label>{{ interest.key + ": " + interest.value.value }}</mat-label>
            <mat-slider min="1" max="10" step="1" class="w-100">
              <input matSliderThumb [formControlName]="interest.key"/>
            </mat-slider>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-danger" matStepperPrevious>Späť</button>
          <button class="btn btn-success" matStepperNext>Ďalej</button>
        </div>
      </form>
    </mat-step>

        <mat-step [stepControl]="step4">
          <form [formGroup]="step4">
            <ng-template matStepLabel>Osobné záujmy</ng-template>
            <div *ngFor="let category of interestCategories | keyvalue">
              <h2 class="p-0 mb-1">{{ category.key }}</h2>
              <div *ngFor="let interest of category.value; let i = index">
                <mat-checkbox [formControl]="getInterestControls(category.key)[i]">{{ interest }}</mat-checkbox>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-danger" matStepperPrevious>Späť</button>
            </div>
          </form>
        </mat-step>
  </mat-vertical-stepper>
</form>
