<div class="admin-page">
  <h1>Administrácia</h1>
  <table>
    <thead>
      <tr>
        <th>Meno</th>
        <th>Priezvisko</th>
        <th>Email</th>
        <th>Rola</th>
        <th>Možnosti</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <div class="roles-container">
            <label *ngFor="let role of availableRoles" class="role-label">
              <input
                type="checkbox"
                [checked]="userHasRole(user, role)"
                (change)="onRoleToggle(user, role, $event)"
              />
              {{ role.name }}
            </label>
          </div>
        </td>
        <td>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openChangePasswordModal(user)">
              <mat-icon>vpn_key</mat-icon> Zmena hesla
            </button>
            <button mat-menu-item (click)="openSubjectModal(user.userId)" *ngIf="isUserTeacher(user)">
              <mat-icon>edit</mat-icon> Zmena predmetov
            </button>
            <button mat-menu-item (click)="deleteUser(user.userId)" class="text-danger">
              <mat-icon class="text-danger">delete</mat-icon> Odstrániť
            </button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
