<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h2 class="card-title">Administrácia</h2>
      <button mat-raised-button color="primary" (click)="openUserFormDialog()">
        Pridať používateľa
      </button>
    </div>
  </div>

  <div id="admin-table-wrapper">
    @if (tableConfig()) {
      <app-generic-table [config]="tableConfig()!" [data]="usersPage()" />
    }
  </div>
</div>

<!-- Cell template for roles column -->
<ng-template #rolesCell let-user>
  <div class="roles-container">
    @for (role of availableRoles; track role) {
      <label class="role-label">
        <input
          type="checkbox"
          [checked]="userHasRole(user, role)"
          (change)="onRoleToggle(user, role, $event)"
        />
        {{ role.name }}
      </label>
    }
  </div>
</ng-template>

<!-- Cell template for options column -->
<ng-template #optionsCell let-user>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openChangePasswordModal(user)">
      <mat-icon>vpn_key</mat-icon> Zmena hesla
    </button>
    @if (isUserTeacher(user)) {
      <button mat-menu-item (click)="openSubjectModal(user.userId)">
        <mat-icon>edit</mat-icon> Zmena predmetov
      </button>
    }
    <button mat-menu-item (click)="deleteUser(user.userId)" class="text-danger">
      <mat-icon class="text-danger">delete</mat-icon> Odstrániť
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</ng-template>
