<div class="mt-2 d-flex gap-2 align-items-center">
  <form class="px-2" [formGroup]="filterForm" (ngSubmit)="filterByMathThreshold()">
    <mat-form-field appearance="outline">
      <mat-label>Math focus threshold</mat-label>
      <input matInput formControlName="mathFocus">
    </mat-form-field>

    <button mat-stroked-button class="m-3" color="primary" type="submit">Filtrovat</button>
  </form>
</div>

<div class="subject-table-wrapper">
  <table mat-table [dataSource]="dataSource$">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Názov</th>
      <td mat-cell *matCellDef="let subject">{{ subject.name }}</td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell class="center" *matHeaderCellDef>Kód predmetu</th>
      <td mat-cell *matCellDef="let subject">{{ subject.code }}</td>
    </ng-container>

    <ng-container matColumnDef="abbreviation">
      <th mat-header-cell class="center" *matHeaderCellDef>Skratka predmetu</th>
      <td mat-cell *matCellDef="let subject">{{ subject.abbreviation }}</td>
    </ng-container>

    <ng-container matColumnDef="obligation">
      <th mat-header-cell class="center" *matHeaderCellDef>Povinnosť predmetu</th>
      <td mat-cell *matCellDef="let subject">{{ subject.obligation }}</td>
    </ng-container>

    <ng-container matColumnDef="recommendedYear">
      <th mat-header-cell class="center" *matHeaderCellDef>Odporúčaný rok</th>
      <td mat-cell *matCellDef="let subject">{{ subject.recommendedYear }}</td>
    </ng-container>

    <ng-container matColumnDef="semester">
      <th mat-header-cell class="center" *matHeaderCellDef>Semester</th>
      <td mat-cell *matCellDef="let subject">{{ subject.semester }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <div>
    @if (isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-paginator
      [length]="pageData.totalElements"
      [pageSize]="pageData.size"
      [pageIndex]="pageData.number"
      (page)="onPageChange($event)"
      [pageSizeOptions]="[5, 10, 100]"
    ></mat-paginator>
  </div>
</div>
