div.subject-table-wrapper {
  overflow: auto;

  .mat-mdc-header-cell, {
    background-color: #3F50B5;
    color: white;
    position: sticky;
  }

  .mat-mdc-row:nth-child(even) .mat-mdc-cell {
    background-color: #eae9e9;
  }
}
