<div class="container">
  <h2>Prehľad predmetov</h2>

  <mat-card class="p-2">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Vyhľadať predmety</mat-label>
          <input
            matInput
            type="text"
            [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event); onSearchChange($event)"
            placeholder="Zadajte názov predmetu..."
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <mat-card-content>
      <app-generic-table
        class="overflow-x-scroll"
        [data]="subjectsData()"
        [config]="tableConfig"
        [loading]="isLoading()"
        (pageChange)="onPageChange($event)"
        (sortChange)="onSortChange($event)"
        (rowClick)="onRowClick($event)"
      >
      </app-generic-table>
    </mat-card-content>
  </mat-card>
</div>
