<div class="container my-2">
  <div class="row" *ngIf="!hasUserFilledForm">
    <div class="col-12 d-flex justify-content-center mt-5">
      <app-speech-bubble (click)="redirectToUserForm()" text="Ešte nemáš vyplnený dotazník! Povedz nám niečo o sebe, aby sme ti mohli zobraziť relevantnejšie dáta." horizontalAllign="bottom"
                         verticalAllign="left" color="#1264b0" textColor="#FFF">
        <img ngSrc="assets/images/brain_q.png" priority alt="Speaking Image" class="img-fluid middle"
             height="300"
             width="300">
      </app-speech-bubble>
    </div>
  </div>
  <div class="row" *ngIf="hasUserFilledForm">
    <div class="col-12 d-flex justify-content-center">
      <app-speech-bubble text="Pre zobrazenie zaujímavých dát vyber niektorú položku z menu. Ak chceš upraviť vyplnený dotazník, môžeš tak urobiť v profile." horizontalAllign="bottom"
                         verticalAllign="left" color="#1264b0" textColor="#FFF">
        <img ngSrc="assets/images/brain_q.png" priority alt="Speaking Image" class="img-fluid middle"
             height="300"
             width="300">
      </app-speech-bubble>
    </div>
  </div>
</div>
