.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.speech-bubble {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 250px;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: #f8f9fa; /* same as bg-light */
}

.middle{
  grid-area: cc;
  align-self: center;
  justify-self: end;
  text-align:center;
  color: white;
}

.form-button {
  color: #1264b0;
}
