<div class="container-fluid m-0">
  <div class="row m-0 p-0">
    <div class="col-12 col-md-5 m-0">
      <h2>Vyber si 3 predmety a my ti ukážeme podobné predmety</h2>
      <div class="overflow-x-auto">
        <app-subjects-table
          [dataSource$]="allSubjectsDataSource$"
          [pageData]="allSubjectsPageData"
          [isLoading]="isLoadingAllSubjects"
          (pageChange)="onPageChangeAllSubjects($event)"
          [displayFullInfo]="false"
          [isSelectable]="true"
          [maxSelectableSubjects]="3"
          (selectedSubjects)="onSelectedSubjectsChanged($event)"
          (subjectDetailNavigate)="navigateToSubjectDetail($event)">
        </app-subjects-table>
      </div>
      <button color="primary" mat-stroked-button class="mt-5 w-100" (click)="getSimilarSubjects()">Potvrdiť</button>
      @if (isLoadingRecommendetSubjects) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center">
      <mat-icon>arrow_forward</mat-icon>
    </div>
    <div class="col-md-5">
      @if ((recommendedSubjectsDataSource$ | async)?.at(0) !== null) {
        <div class="text-center fw-bold">Podobné predmety</div>
        <div class="d-flex flex-column clustering-max-height-70vh">
          <app-subjects-table
            class="w-100 h-100"
            [dataSource$]="recommendedSubjectsDataSource$"
            [isLoading]="isLoadingRecommendetSubjects"
            [displayFullInfo]="false"
            [isPageable]="false"
            [isScrollable]="true"
            (subjectDetailNavigate)="navigateToSubjectDetail($event)">
          </app-subjects-table>
        </div>
      }
    </div>
  </div>
</div>
