<div class="admin-page">
  <h1>Administrácia</h1>
  <table>
    <thead>
    <tr>
      <th>Poradie</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Email</th>
      <th>Rola</th>
      <th>Možnosti</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div class="roles-container">
          <label *ngFor="let role of availableRoles" class="role-label">
            <input
              type="checkbox"
              [checked]="userHasRole(user, role)"
              (change)="onRoleToggle(user, role, $event)"
            />
            {{ role.name }}
          </label>
        </div>
      </td>
      <td>
        <button (click)="deleteUser(user.userId)" class="delete-button">Odstrániť</button>
        <button
          *ngIf="userHasRole(user, { id: 2, name: 'teacher' })"
          (click)="openSubjectModal(user.userId)"
          class="adjust-subjects-button"
        >
          Zmena predmetov
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="showSubjectModal" class="modal-overlay">
    <div class="modal">
      <h2>Zmena predmetov pre {{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</h2>
      <h3>Katedra</h3>
      <select [(ngModel)]="selectedTeacherDepartment" class="department-select">
        <option *ngFor="let department of availableDepartments" [value]="department.departmentId">
          {{ department.name }}
        </option>
      </select>

      <h3>Priradené predmety</h3>
      <table>
        <thead>
        <tr>
          <th>Predmet</th>
          <th>Priradenie</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of selectedTeacherSubjects">
          <td>{{ subject.name }}</td>
          <td>
            <input
              type="checkbox"
              [checked]="true"
              (change)="onAssignedSubjectToggle(subject, $event)" />
          </td>
        </tr>
        </tbody>
      </table>

      <h3>Ostatné predmety</h3>
      <table>
        <thead>
        <tr>
          <th>Predmet</th>
          <th>Priradenie</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of availableSubjects">
          <td>{{ subject.name }}</td>
          <td>
            <input
              type="checkbox"
              [checked]="isSubjectAssigned(subject)"
              (change)="onUnassignedSubjectToggle(subject, $event)" />
          </td>
        </tr>
        </tbody>
      </table>
      <div class="modal-buttons">
        <button (click)="saveTeacherSubjects()" class="save-button">Uložiť</button>
        <button (click)="closeSubjectModal()" class="close-modal-button">Zavrieť</button>
      </div>
    </div>
  </div>

</div>
