@import "../../../../node_modules/bootstrap/scss/bootstrap";  // TODO relative import

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 20px;
  margin-left: 20px;
  outline: none;
}

h1 {
  text-align: center;
  color: #333;
  margin: 20px;
}


#subject-report-table-wrapper {
  overflow-x: scroll;
  @include media-breakpoint-up(md) {
    overflow-x: auto;
  }
}
